<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>BTSMIS</display-name>
    <servlet>
        <description>
		</description>
        <display-name>AddItemController</display-name>
        <servlet-name>AddItemController</servlet-name>
        <servlet-class>controller.AddItemController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>InStockController</display-name>
        <servlet-name>InStockController</servlet-name>
        <servlet-class>controller.InStockController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>RequestController</display-name>
        <servlet-name>RequestController</servlet-name>
        <servlet-class>controller.RequestController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>DeliverController</display-name>
        <servlet-name>DeliverController</servlet-name>
        <servlet-class>controller.DeliverController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>DenyServlet</display-name>
        <servlet-name>DenyServlet</servlet-name>
        <servlet-class>controller.DenyServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>ConfirmServlet</display-name>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>controller.ConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FieldEngineerController</servlet-name>
        <servlet-class>controller.FieldEngineerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBtsController</servlet-name>
        <servlet-class>controller.AddBtsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGenSetController</servlet-name>
        <servlet-class>controller.AddGenSetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegionController</servlet-name>
        <servlet-class>controller.RegionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBCSController</servlet-name>
        <servlet-class>controller.AddBSCController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>Log</display-name>
        <servlet-name>Log</servlet-name>
        <servlet-class>controller.Log</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>AddFuelController</display-name>
        <servlet-name>AddFuelController</servlet-name>
        <servlet-class>controller.AddFuelController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>ReportUsage</display-name>
        <servlet-name>ReportUsage</servlet-name>
        <servlet-class>controller.ReportUsage</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>RemainingFuelController</display-name>
        <servlet-name>RemainingFuelController</servlet-name>
        <servlet-class>controller.RemainingFuelController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>ItemCategoryController</display-name>
        <servlet-name>ItemCategoryController</servlet-name>
        <servlet-class>controller.ItemCategoryController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>SystemController</display-name>
        <servlet-name>SystemController</servlet-name>
        <servlet-class>controller.SystemController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>RegionManagerController</display-name>
        <servlet-name>RegionManagerController</servlet-name>
        <servlet-class>controller.RegionManagerController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>SitesCategoryController</display-name>
        <servlet-name>SitesCategoryController</servlet-name>
        <servlet-class>controller.SitesCategoryController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>SitesClassController</display-name>
        <servlet-name>SitesClassController</servlet-name>
        <servlet-class>controller.SitesClassController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>AssignBtsController</display-name>
        <servlet-name>AssignBtsController</servlet-name>
        <servlet-class>controller.AssignBtsController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>ItemUnitController</display-name>
        <servlet-name>ItemUnitController</servlet-name>
        <servlet-class>controller.ItemUnitController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>ApproveRequestRegion</display-name>
        <servlet-name>ApproveRequestRegion</servlet-name>
        <servlet-class>controller.ApproveRequestRegion</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>ApproveRequestOperations</display-name>
        <servlet-name>ApproveRequestOperations</servlet-name>
        <servlet-class>controller.ApproveRequestOperations</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>PartnerController</display-name>
        <servlet-name>PartnerController</servlet-name>
        <servlet-class>controller.PartnerController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>AccessRequestController</display-name>
        <servlet-name>AccessRequestController</servlet-name>
        <servlet-class>controller.AccessRequestController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>ConfirmAccessRequest</display-name>
        <servlet-name>ConfirmAccessRequest</servlet-name>
        <servlet-class>controller.ConfirmAccessRequest</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>AccessHandlingController</display-name>
        <servlet-name>AccessHandlingController</servlet-name>
        <servlet-class>controller.AccessHandlingController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>UserController</display-name>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>Delete</display-name>
        <servlet-name>Delete</servlet-name>
        <servlet-class>controller.Delete</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>LocController</display-name>
        <servlet-name>LocController</servlet-name>
        <servlet-class>controller.LocController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenTicketController</servlet-name>
        <servlet-class>controller.OpenTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteArrivalController</servlet-name>
        <servlet-class>controller.SiteArrivalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueHandlingController</servlet-name>
        <servlet-class>controller.IssueHandlingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downtimeController</servlet-name>
        <servlet-class>controller.downtimeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseTicketController</servlet-name>
        <servlet-class>controller.CloseTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordDowntimeController</servlet-name>
        <servlet-class>controller.RecordDowntimeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>controller.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceRequestController</servlet-name>
        <servlet-class>controller.ServiceRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecialHandlingController</servlet-name>
        <servlet-class>controller.SpecialHandlingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketController</servlet-name>
        <servlet-class>controller.TicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenyRequest</servlet-name>
        <servlet-class>controller.DenyRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRequest</servlet-name>
        <servlet-class>controller.CancelRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemController</servlet-name>
        <url-pattern>/AddItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InStockController</servlet-name>
        <url-pattern>/InStockController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestController</servlet-name>
        <url-pattern>/RequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliverController</servlet-name>
        <url-pattern>/DeliverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenyServlet</servlet-name>
        <url-pattern>/DenyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/ConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FieldEngineerController</servlet-name>
        <url-pattern>/FieldEngineerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBtsController</servlet-name>
        <url-pattern>/AddBtsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGenSetController</servlet-name>
        <url-pattern>/AddGenSetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegionController</servlet-name>
        <url-pattern>/RegionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBCSController</servlet-name>
        <url-pattern>/AddBCSController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFuelController</servlet-name>
        <url-pattern>/AddFuelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportUsage</servlet-name>
        <url-pattern>/ReportUsage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemainingFuelController</servlet-name>
        <url-pattern>/RemainingFuelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemCategoryController</servlet-name>
        <url-pattern>/ItemCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemController</servlet-name>
        <url-pattern>/SystemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegionManagerController</servlet-name>
        <url-pattern>/RegionManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SitesCategoryController</servlet-name>
        <url-pattern>/SitesCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SitesClassController</servlet-name>
        <url-pattern>/SitesClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignBtsController</servlet-name>
        <url-pattern>/AssignBtsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemUnitController</servlet-name>
        <url-pattern>/ItemUnitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRequestRegion</servlet-name>
        <url-pattern>/ApproveRequestRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRequestOperations</servlet-name>
        <url-pattern>/ApproveRequestOperations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartnerController</servlet-name>
        <url-pattern>/PartnerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessRequestController</servlet-name>
        <url-pattern>/AccessRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmAccessRequest</servlet-name>
        <url-pattern>/ConfirmAccessRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessHandlingController</servlet-name>
        <url-pattern>/AccessHandlingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocController</servlet-name>
        <url-pattern>/LocController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenTicketController</servlet-name>
        <url-pattern>/OpenTicketController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteArrivalController</servlet-name>
        <url-pattern>/SiteArrivalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueHandlingController</servlet-name>
        <url-pattern>/IssueHandlingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downtimeController</servlet-name>
        <url-pattern>/downtimeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseTicketController</servlet-name>
        <url-pattern>/CloseTicketController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordDowntimeController</servlet-name>
        <url-pattern>/RecordDowntimeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/TestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceRequestController</servlet-name>
        <url-pattern>/ServiceRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialHandlingController</servlet-name>
        <url-pattern>/SpecialHandlingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketController</servlet-name>
        <url-pattern>/TicketController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenyRequest</servlet-name>
        <url-pattern>/DenyRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRequest</servlet-name>
        <url-pattern>/CancelRequest</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
